.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
}

.navBar {
  position: relative;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.blue {
  background-color: blue;
}
